export ENVIRONMENT=develop

# Project Settings
export PROJECT_NAME=sandbox

# AWS Account Settings
export AWS_DEFAULT_REGION=ap-notheast-1
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
export ACCOUNT_ID="111111111111"